@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:
        /*  #2c3333 */
        #1b2344;
}

.album {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

/* Text for Albums */

.text {
    display: flex;
    justify-content: space-between;
}

.text .paragraph p {
    margin: 30px 0 0 30px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.2rem;
    color: #fff;
    border-bottom: 5px double #fff;
}

/* For Icon */

.icon .fa-solid {
    font-size: 1.5rem;
    margin-right: 20px;
    border-radius: 50%;
    color: #395B64;
}

.text .icon {
    margin: 30px 0 0 30px;
    width: 200px;
    height: 50px;
    /* background-color:cadetblue; */

    display: flex;
    justify-content: space-between;

}

/* Text for More */

.icon .see_more a {
    color: #A5c9ca;
    font-size: 1.5rem;
    font-weight: 100;
    transition: all 0.5s;
}

.icon a {
    text-decoration: none;
}

/* For Cards */

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container .card {
    width: 250px;
    height: 300px;
    position: relative;
    margin: 20px 20px;
}

.container .card .layer1,
.layer2,
.layer3,
.layer4 {
    width: 100%;
    height: 100%;
    background-color: #395B64;
    position: absolute;
    transition: all 0.5s;
    overflow: hidden;
    /* border-top: 5px solid #91D8E4; */
    border-radius: 10px;
}
 
.container .card .layer1 img {
    width: inherit;
    height: inherit;
    background-color: #91D8E4;
    object-fit: cover;
    position: absolute;
    transition: all 0.5s;
    z-index: 1;
    /* border-left: 5px solid #91D8E4;
    border-right: 5px solid #91D8E4;
    border-bottom: 5px solid #91D8E4; */

}
#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -60px;
    width: 330px;
    /* height: 60px; */
    /* background-color: #fff; */
}

nav p {

    width: 330px;
    /* height: 20px; */
    /* background-color: #fff; */
    /* margin-right: 150px; */
}

nav {

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 60px;
    background-color: #2c3332;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    color: #fff;
}

#logo img {
    margin-top: 5px;
    margin-left: 60px;
    width: 130px;
    height: 80px;
    margin-bottom: 5px;
}

div ul {
    width: 650px;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div ul li {
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;

    transition: all 0.2s;
}

div ul li a {
    color: #ccc6c6;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;

    padding: 10px 20px;
    transition: all 0.2s;
}

nav ul li a:hover {
    color: #fff;
    background-color: #395B64;
}

.f1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 0;
}

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 2.4rem;

    margin: 30px 0;
}

p {
    font-size: 1rem;
}

small {
    margin-left: 555px;
}
.container .card .layer1 .review {
    width: 100%;
    height: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
}

.container .card:hover .layer1 img {
    cursor: pointer;
    transform: translateY(-120px)
}

.card .layer1 {
    z-index: 4;
}

.card .layer4 {
    z-index: 3;
}

.card .layer3 {
    z-index: 2;
}

.card .layer2 {
    z-index: 1;
}

.card:hover .layer2 {
    transform: rotate(10deg);
}

.card:hover .layer3 {
    transform: rotate(20deg);
}

.card:hover .layer4 {
    transform: rotate(-20deg);
}

/* For albums review */



.taylor {
    text-align: center;
    color: #A27B5C;
    font-size: 1.3rem;
    font-weight: 600;
}

.sheeran {
    text-align: center;
    color: #222d57;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 600;
}

.swiftLover {
    text-align: center;
    color: #2B3A55;
    font-size: 1.3rem;
    font-weight: 600;
}

.bigbag {
    text-align: center;
    text-transform: capitalize;
    color: #E7F6F2;
    font-size: 1.3rem;
    font-weight: 600;
}

.evermore {
    text-align: center;
    color: #F2E5E5;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
}

.folklore {
    text-align: center;
    color: #1b2344;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
}

/* album series Two */

.container2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 .oval {
    width: 280px;
    height: 280px;
    background-color: steelblue;
    border-radius: 50%;

    margin-right: 20px;


}

.container2 .oval .box1 {
    width: inherit;
    height: inherit;
    background-color: #A27B5C;
    border-radius: 50%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container2 .oval .box1 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    z-index: 1;

}

.container2 .oval .box1 .p_review {
    width: 100%;
    height: 100%;
    background-color: #395B64;
    
    border: 1px solid #fff;
    border-radius: 50%;
    object-fit: contain;
    position: absolute;
    transition: all 0.5s;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container2 .oval:hover .box1 img {
    cursor: pointer;
}

.container2 .oval:hover .box1 .p_review {
    cursor: pointer;
    transform: translate(95px, -205px);
    box-shadow: 0px 0px 4px 3px rgba(255,255,255,0.4);
}

     /* For buttom */

.buttom .more{
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.buttom .more a{
    text-decoration: none;
    text-transform: capitalize;
    color: #91D8E4;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    text-align: center;

}

.buttom .more .al_icon{
    width: 150px;
    height: 50px;
    /* background-color: red; */
    margin: 30px 0 15px 0;

}

.al_icon #facebook{
    color:#3b5998;
}

.al_icon #instagram{
    color:#cd486b;
}

.al_icon #discord{
    color:#7289da;
}

.buttom .more .al_icon i{
    font-size: 2rem;
}

/* Text for album series two */

.sc_album {
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraph{
    margin-top: 100px;
}
.text_2008 {
    margin-top: 100px;
    width: 100%;
    /* background-color: #E7F6F2; */
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;

}


.text_2008 .paragraph08{
    width: 200px;

    margin-bottom: 5px;
}

.text_2008 .paragraph08 p {
    margin: 0 0 0 30px;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    color: #A27B5C;
    border-bottom: 5px double #fff;
}

    /* Review For Band */

.band_buttom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.band_buttom .radius{
    margin: 20px 0 30px;
    width: 250px;
    height: 50px;
    /* background-color: #cd486b; */
    text-align: center;
    
}

.band_buttom .radius .rd_buttom{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-transform: capitalize;
    transition: all 0.5s;
    padding: 10px;
    border: 3px double chartreuse;
    border-radius: 20px ;
}

  /* Hover */

.buttom .more a:hover { 
    background-color: #696969;
    border-color: #00ffff;
    transform: translateY(15px);
} 

.buttom .more .al_icon #facebook:hover{
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 50%;
    transform: translate(5px,35px);
}

.buttom .more .al_icon #instagram:hover{
    cursor: pointer;
    border: 2px solid rgb(7, 158, 213);
    border-radius: 10px;
    transform: translateY(35px);
}

.buttom .more .al_icon #discord:hover{
    cursor: pointer;
    transform: translate(-5px,35px);
}

.band_buttom .radius:hover .rd_buttom{
    border-color: #cd486b;

}

.band_buttom .radius .rd_buttom:hover i{
    transform: rotateX(180deg); 
}

#logo p {
    font-size: 1.3em;}
   
    

    #font {
        font-family: 'Moon Dance', cursive;

    }